.home {
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 68px);
  .home__items {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;

  }
  * {
    user-select: none;
  }
  .left__item {
    width: 100%;
    min-height: calc(100vh - 68px);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(33, 93, 150);
    .card {
      margin: 1rem auto;
      width: 77%;
    }
  }
  .right__item {
    display: block;
    width: 100%;
    height: 90vh;
    padding: 0.4rem 2.5rem 0.35rem 0;
  }
  
}

@media only screen and (max-width: 700px) {

  .home__items {
    display: grid;
    grid-template-columns: 100% !important;
    gap: 0;
  }

  .home{
    .right__item{
      display: none;
    }
  }

}

