.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 4rem;

  .nav-header{
    a{
      font-size: 25px;
      font-family: "Antic", Helvetica, sans-serif;
    }
  }

  .nav-links{
    display: flex;
    column-gap: 16px;

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      transition: .3s ease;

      &:hover{
        background-color: #1a237e;
      }
    }
  }

}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav{
    padding: 15px 20px;
  }
  .nav > .nav-btn {
    display: inline-block;
  }
  .nav > .nav-btn > label {
    display: inline-block;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    margin-top: calc(11vh - 50px);
    height: 89vh;
    overflow-y: auto;
  }
}

.searchModal{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  z-index: 11;
  background-image: linear-gradient(to top, #37b9ec8b 0%, #006dac 100%);
  // opacity: 1;

  .close{
    width: 40px;
    height: 40px;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 111;
    transition: 0.1s ease;
    &:hover {
      background-color: #e81123;
    }
  }

  input{
    width: 30%;
    color: #fff;
    display: block;
    border-bottom: #1a237e;
  }
}
// .searchModal {
//   position: fixed;
//   background-color: #fff !important;
//   border-radius: 10px;
//   background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
//   width: 40% !important;
//   padding: 1rem;
//   top: 50%;
//   left: 50% !important;
//   transform: translate(-50%, -50%);
//   z-index: 5000;
//   .close {
//     cursor: pointer;
//     display: block;
//     border-radius: 3px;
//     width: 24px;
//     color: #fff;
//     margin-left: auto;
//     transition: 0.1s ease;
//     &:hover {
//       background-color: #e81123;
//     }
//   }
// }
// .button {
//   position: absolute;
//   display: inline-block;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   width: 250px !important;
//   height: 42px;
//   cursor: I-beam;
//   // top: 5rem;
//   bottom: 0;
//   // left: 37rem;
//   padding: 0 20px;
//   overflow: hidden;
//   border: none;
//   -webkit-border-radius: 21px;
//   border-radius: 10px;
//   font: normal 20px / normal "Antic", Helvetica, sans-serif;
//   color: rgba(140, 140, 140, 1);
//   text-decoration: normal;
//   -o-text-overflow: ellipsis;
//   text-overflow: ellipsis;
//   background: rgba(40, 40, 40, 0.4);
//   -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
//   box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
//   transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75) !important;
//   z-index: 9999;
// }

// .button:hover {
//   width: 350px !important;
//   opacity: 0.82;
//   left: 34rem;
//   color: rgba(181, 181, 181, 1) !important;
//   background: rgba(0, 0, 0, 0.4) !important;
//   transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75) !important;
// }

// .button:focus {
//   width: 490px !important;
//   left: 29rem;
//   padding: -13px 20px 0;
//   color: rgba(255, 255, 255, 1);
//   transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
// }

.text {
  box-sizing: content-box;
  border: none;
  font-size: 22px!important;
  color: #ffffff;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  &:placeholder {
    color: #ffffff;
  }
}

// input:focus {
//   outline: none;
// }
