.notPage {
  .page_404 {
    padding: 40px 0;
    background: rgb(255, 255, 255);
    font-family: "Arvo", serif;
    margin-bottom: -4rem;
  }

  .page_404 img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .four_zero_four_bg h1 {
    font-size: 60px;
  }

  .four_zero_four_bg h3 {
    font-size: 80px;
  }

  .link_404 {
    color: #fff !important;
    background: #39ac31;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contant_box_404 {
    margin-top: -50px;
  }
}
