@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.settingPage {
  // margin-bottom: 1rem;

  .container {
    margin: 0 auto;
    width: 70rem;
    height: 30rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.5rem;
  }
  .form {
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(
        105deg,
        rgb(113, 9, 224, 0.5) 0%,
        rgb(113, 9, 224, 0.9) 50%,
        transparent 50%
      ),
      // url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2063626/pierpaolo-lanfrancotti-185554-unsplash.jpg");
      url("../img/teleminora.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    font-size: 2rem;
    font-family: Arial;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #eee;
  }
  .form__group {
    width: 40%;
    height: 50%;
    margin-left: 2rem;
  }
  input {
    color: #ffffff;
    font-size: 20px !important;
    padding-left: 1rem !important;
    background-color: rgba(135, 52, 223, 0.5) !important;
  }
  #name {
    padding: 0 1rem !important;
  }
  label {
    color: #b5b0b0;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}
